/* colors set */
:root {
  --main-bcgclr: #ffffff;
  --main-textclr: #757575;
  --h-clr: #212121;
  --accent: #2196f3;
  --footer: #2f303a;
  --titlesection:  #E5E5E5; 
  --activitysection: #F5F4FA; 
  --portfoliosection: #EEEEEE; 
}
/* fundamentals */
body {
  color: var(--main-textclr);
  background-color: var(--main-bcgclr);
  letter-spacing: 3%;
  font-family: Roboto, sans-serif 
}
/* mother's little helper */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--h-clr);
}
/* HEADER */

/* logo */
.logo-first {
  color: #2196f3; #000000;
  text-decoration:none;
  font-family: Raleway, sans-serif
}
  
.logo-second {
  color: #000000;
  text-decoration:none;
  font-family: Raleway, sans-serif
}
/* nav */
.nav a {
  color: var(--h-clr);
  letter-spacing: 2%;
  text-decoration:none;
  font-weight: 500;
  font-size 14px
  line-height: height 1.1;
}
.nav a:hover,
.nav a:focus {
  color: var(--accent);
}
/* feedback */
.feedback a {
  color: inherit;
  letter-spacing: 2%;
  text-decoration:none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}
.feedback a:hover,
.feedback a:focus {
  color: var(--accent);
}
/* STUDIO */

/* title section  */
.main {
  background-color: var(--footer);
}
.title {
   color: var(--main-bcgclr);
   text-transform: uppercase;
   weight: 900;
   font-size: 44px;
   line-height: 1.4;
   letter-spacing: 6%;
   text-align: center;
}
.service {
  color: var(--main-bcgclr);
  background-color: var(--accent);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 6%;
  text-align: center;
}
.activity, .specs, .team {
  font-weight: 700;
  font-size: 36;
  line-height: 1.7;
  text-align: center;
}
/* specs section  */
.specs {
  background-color: var(--titlesection);
}
.elements {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
} 
.elements-descr {
   font-weight: 400;
   font-size: 14px;
   line-height 1.7;
}
  

/* activity section */
.activity {
  background-color: var(--activitysection);
}

.stuff {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}
.position {
  font-weight: 400;
  font-size: 16px;
   line-height: height 1.9
   text-align: center;
}
/* PORTFOLIO */

/* main section */ */

.portfolio {
  background-color: var(--portfoliosection);
}
.tools button {
  color: var(--h-clr);
  background-color: var(--activitysection);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: height 1.6;
  text-align: center;
}
.tools button:hover,
.tools button:focus {
  color: var(--main-bcgclr);
  background-color: var(--accent);
}
.example {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
}
.example-activity {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}


/* FOOTER */

.footer {
  background-color: var(--footer);
}
/* contacts */
.contacts a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration:none;
  font-weight: 400;
  font-size:  14px;
  line-height: 1.7;  
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent);
}



